@CHARSET "UTF-8";

@import "./buttons.css";


body {
margin: 0;
padding: 0 0 20px;
background: rgba(128,128,128,0.1);
min-height: 100%;
font-family: "Varela";
font-size: 10px;
}

tr p{
	font-size: 8px;
}

#accordion .accordiontext{
	font-family: "Varela";
	font-size: 12px;
	color:#777777;	
}

.hpimagetext{
	color: white;
	font-weight: bold;	
}


#container {
    width: 960px;
    height: 960px;
    margin: 0 auto;
    overflow: hidden;   
    background: white;
}


#banner {
	/*background-image:url(./images/parallelboxes.png);*/
	background-repeat: no-repeat;
	float: right;
	position: relative;
	width: 150px;
	height: 100px;
	margin: 0 auto;


}


#bannercontent {
	background-image:url(./images/gridfusion_logo_1.png);
	background-repeat: no-repeat;
	float: left;
	position: relative;
	width: 800px;
	height: 100px;
	margin-top: 0px;
	font-size: 40px;
}

#bannersubline {
	position: relative;
	width: 860px;
	height: 40px;
	font-size: 20px;
}

#content {
	margin-top: 5px;	
	position: relative;
	width: 960px;
	height: 800px;
	font-size: 14px;
	overflow: auto;
}


.cv_years
{
	font-size: 13px;
	font-weight: bold;
	color:#777777;

}

.cv_description
{
	font-size: 13px;
	color:#777777;
}



.widecontainer, .maincontainer{
	background: rgba(244,244,244,0.9);
	position:relative;
	float:left;
	color: black;
	font-size: 18px;
	margin-left:53px;
	margin-top:25px;
	padding:10px;
	width:380px;
	height:250px;
	border-radius:3px;
}

.maincontainer p
{
	font-size: 12px;
	color:#777777;
}

/*
.maincontainer .continueButton{
	position:absolute;
	bottom:0;
	
}
*/



.smallcontainer{
	background: rgba(128,128,128,0.3);
	float:left;
	color:#777777;
	font-size: 16px;
	margin-left:53px;
	margin-top:45px;
	padding:10px;
	width:380px;
	height: 40px;
	border-radius:3px;
}

.smallcontainer p
{
	font-size: 12px;
}

.smallcontainer:hover
{
	background:#000000;
}

.checkmarklist
{
	list-style: url("./images/checkmark.jpg");
}



.contentcontainer{
	background: rgba(244,244,244,0.9);
	position:relative;
	color:#777777;
	font-size: 12px;
	margin-top:25px;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	width:830px;
	border-radius:3px;
}


.contentcontainer .contentHeadline{
	font-size: 18px;
	font-weight: bold;
}





#leftcontent, .videolinks {
	margin-top: 20px;
	font-size: 12px;
	width: 960px;
	padding: 10px;
	//height: 150px;
}

#narrowleftcontent{
	float: left;
	margin-top: 20px;
	padding: 10px;
	font-size: 12px;
	width: 638px;
	height: 620px;
	border: 1px solid #aaaaaa;
	border-radius: 15px;
}





#tablecontent {
	font-size: 10px;
}

#tablecontent a:link 
{
	text-decoration: none;	
}

#tablecontent a:active
{
	text-decoration: none;	
}

#tablecontent a:visited
{
	text-decoration: none;
}

#tablecontent a:hover
{
	font-size:10px;
	color: blue;
}




#footer1{
	position: absolute;
	top: 960px;
	left: 231px;
	color: black;
	background: rgba(128,128,128,0.1);
	font-size: 10px;
	width: 958px;
	height: 20px;
	border: 1px solid #aaaaaa;
	
}

#footerlogo{
	float:right;
	background-image:url(./images/gridfusion_logo_footer.png);
	background-repeat: no-repeat;
	height: 70px;
	width: 100px;
	margin-top:5px;
	margin-right:5px;
	
}


/* to highlight table rows when mouse over */
#tablecontent tr { background-color: white}
  .initial { background-color: white; color:#000000 }
  .normal { background-color: white }
  .highlight { background-color: gray; font-weight: normal }



