@CHARSET "UTF-8";

#container {
    width: 960px;
    height: 960px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}


#banner {
	background-image:url(./images/grid.jpeg);
	background-repeat: no-repeat;
	float: right;
	position: relative;
	width: 160px;
	height: 160px;
	margin: 0 auto;


}


#bannercontent {
	float: right;
	position: relative;
	width: 800px;
	height: 160px;
	margin-top: 30px;
	font-size: 40px;
	font-family: 'Averia Serif Libre', cursive;
}

#content {
	margin-top: 30px;
	position: relative;
	width: 960px;
	height: 640px;
	font-size: 14px;
	font-family: 'Averia Serif Libre';
}



#leftcontent, .videolinks {
	margin-top: 20px;
	font-size: 16px;
	width: 960px;
	height: 150px;
}

#narrowleftcontent{
	float: left;
	margin-top: 20px;
	padding: 10px;
	font-size: 16px;
	width: 640px;
	height: 639px;
	border: 1px solid #aaaaaa;
	border-radius: 15px;
}


#newsbox{
	float:left;
	margin-top: 20px;
	margin-left: 5px;
	padding: 10px;	
	font-size: 16px;
	width: 260px;
	height: 639px;
	border: 1px solid #aaaaaa;
	border-radius: 15px;
	
}

#newsentry{
	float:left;
	margin-top: 10px;
	margin-left: 3px;
	margin-right: 3px;
	padding: 3px;	
	font-size: 12px;
	width: 240px;
	height: 100px;
	border: 1px solid #aaaaaa;
	border-radius: 10px;
	
}


#tablecontent {
	font-size: 14px;
	width: 900px;
}

#tablecontent a:link 
{
	text-decoration: none;
}

#tablecontent a:active
{
	text-decoration: none;
}

#tablecontent a:visited
{
	text-decoration: none;
	color:#0000C0;

}

#tablecontent a:hover
{
	font-family: 'Averia Serif Libre';
	font-size:15px; color: red;
}


/*
#footer1 {
	background-color: #D10000;
	opacity:0.8; 
	vertical-align: bottom;
	position: absolute;
	bottom: 0;
	width: 960px;
	height: 80px;
	font-size: 10px;
	font-family: 'Averia Serif Libre';
}
*/



.googlemap
{
	background-color: #D10000;
	opacity:0.8; 
	vertical-align: middle;
	position: relative;
	width: 960px;
	height: 80px;
	font-size: 10px;
	font-family: 'Averia Serif Libre';
}


/* to highlight table rows when mouse over */
tr { background-color: white}
  .initial { background-color: white; color:#000000 }
  .normal { background-color: white }
  .highlight { background-color: #FFB000 }


.invertedshiftdown{
padding: 0;
width: 960px;
border-top: 5px solid #D10000; 
background: transparent;
voice-family: "\"}\"";
voice-family: inherit;
}

.invertedshiftdown ul{
margin:0;
margin-left: 40px; 
padding: 0;
list-style: none;
}

.invertedshiftdown li{
display: inline;
margin: 0 2px 0 0;
padding: 0;
text-transform:uppercase;
}

.invertedshiftdown a{
float: left;
display: block;
font: bold 12px Arial;
color: black;
text-decoration: none;
margin: 0 1px 0 0; 
padding: 5px 10px 9px 10px; 
background-color: white; 


-moz-border-radius-bottomleft: 5px;
border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
border-bottom-right-radius: 5px;
}

.invertedshiftdown a:hover{
background-color: #D10000; 
padding-top: 9px; 
padding-bottom: 5px;
color: white;
}

.invertedshiftdown .current a{
background-color: #D10000; 
padding-top: 9px; 
padding-bottom: 5px; 
color: white;
}
