@CHARSET "UTF-8";


/*
td {
	font-size: 10px;
}
*/

table {
	border-spacing: 0px;
}

.tableHeader {
	font-size: 12px;
}

.bg0 {
	font-size: 10px;
	background-color: #DFDFDF;
}


.bg1 {
	font-size: 10px;
	background-color: #9C9C9C;
}
